services:
  app:
    profiles: [ "prod" ]
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      redis:
        condition: service_healthy
      minio:
        condition: service_healthy
      db:
        condition: service_healthy
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: mybox-redis
    env_file:
      - .env
    ports:
      - "6379:6379"
    volumes:
      - mybox-redis-data:/data
    command: [ "redis-server", "--requirepass", "${SPRING_DATA_REDIS_PASSWORD}" ]
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli -a ${SPRING_DATA_REDIS_PASSWORD} ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s


  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: mybox-minio
    env_file:
      - .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000"
      - "9001:9001"   # Web UI
    volumes:
      - mybox-minio-data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  db:
    image: postgres:15-alpine
    container_name: mybox-postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: devDb
    ports:
      - "5432:5432"
    volumes:
      - mybox-postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    restart: unless-stopped

volumes:
  mybox-redis-data:
  mybox-minio-data:
  mybox-postgres-data:
