spring:
  data:
    redis:
      host: localhost
      port: 6379
      password: ${SPRING_DATA_REDIS_PASSWORD}
      database: 0
  datasource:
    url: jdbc:postgresql://localhost:5432/devDb
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  security:
    user:
      name: ${SPRING_SECURITY_USER_NAME}
      password: ${SPRING_SECURITY_USER_PASSWORD}
  servlet:
    multipart:
      max-file-size: 10GB
      max-request-size: 10GB

minio:
  endpoint: http://localhost:9000
  access-key: ${MINIO_ACCESS_KEY}
  secret-key: ${MINIO_SECRET_KEY}
  bucket: devbucket

server:
  address: 0.0.0.0
  port: 8080

mybox:
  auth:
    jwt:
      secret: ${MYBOX_AUTH_JWT_SECRET}
      expiration: 86400
      refresh-expiration: 604800
      issuer: mybox-server
      audience: mybox-client
      token-prefix: Bearer
  common:
    cors:
      allowed-origins: http://localhost:3000
  file:
    upload:
      allowed-content-types: [ image/png, image/jpeg, image/gif, application/pdf, text/plain ]
      allowed-extensions: [ png, jpg, jpeg, gif, pdf, txt ]

