spring:
  data:
    redis:
      host: redis
      port: 6379
      password: ${SPRING_DATA_REDIS_PASSWORD:}
  datasource:
    url: jdbc:postgresql://db:5432/mybox
    username: ${SPRING_DATASOURCE_USERNAME:}
    password: ${SPRING_DATASOURCE_PASSWORD:}
    driver-class-name: org.postgresql.Driver

minio:
  endpoint: http://minio:9000
  access-key: ${MINIO_ACCESS_KEY:}
  secret-key: ${MINIO_SECRET_KEY:}
  bucket: mybox

server:
  address: 0.0.0.0
  port: 8080

mybox:
  auth:
    jwt:
      secret: ${MYBOX_AUTH_JWT_SECRET:}
      expiration: 86400
      refresh-expiration: 604800
      issuer: mybox-server
      audience: mybox-client
      token-prefix: Bearer
